/Class Library/ClassLib/nbproject/private/
/Client/FPClient/nbproject/private/
/Server/FPServer/nbproject/private/
/Server/FPClient/nbproject/private/
/Server/FPClient/build/
/Class Library/ClassLib/build/
/Server/FPServer/build/
/Class Library/ClassLib/dist/
/Client/FPClient/dist/